.bg-home {
    background: url('../img/backgrounds/bg-hero.jpg') right top no-repeat #EBEFF0;
    background-size: cover;
    padding: 100px 20px !important;
}

.btn {
    transition: all .3s;
    border-radius: 2px;
}

@media (max-width: 600px) {
    .bg-home {
        background: url('../img/backgrounds/bg-hero-mobile.png') left top no-repeat #EBEFF0;
        background-size: 100%;
        padding: 100px 20px 20px 20px !important;
    }
    .bg-mobile figure img {
        width: 200px;
    }
}

.list_features {
    padding: 0;
}
.list_features li {
    background: url('../img/svg/icon-check.svg') no-repeat left center;
    list-style-type: none;
    margin-left: 0;
    padding: 0 0 2px 26px;
    font-size: 1.08rem;
}